@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-orange-400;
    @apply p-0;
  }
}

.base-image-canvas {
  border: 5px solid white;
  border-radius: 10px;
}

.overlay-options {
  overflow-x: auto;
  max-width: 500px;
}

.overlay-option {
  cursor: pointer;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.draggable-image {
  transition: transform 0.1s ease;
  user-select: none;
}